<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392830913223-aadcb36m0bd44kjkfqui2r0hus14gpfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392830913223-aadcb36m0bd44kjkfqui2r0hus14gpfn</string>
	<key>API_KEY</key>
	<string>AIzaSyBU7y76tXPsDNzr8Fimft16iws0ixbKeSY</string>
	<key>GCM_SENDER_ID</key>
	<string>392830913223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.murilovsky.bytebank</string>
	<key>PROJECT_ID</key>
	<string>alura-flutter-crashlytic-29e56</string>
	<key>STORAGE_BUCKET</key>
	<string>alura-flutter-crashlytic-29e56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392830913223:ios:75adb83c661a134f744ce2</string>
</dict>
</plist>